<div class="card-deck">
  <div class="card text-white bg-success mb-3">
    <div class="card-body">
      <div class="d-md-flex justify-content-between">
        <div class="ml-3">
          <div class="row">
            <h4>Monthly Reward</h4>
          </div>
          <div class="row">
            <h4><%= humanized_money_with_symbol @user.monthly_reward_income %></h4>
          </div>
        </div>
        <div>
          <i class="fa fa-calendar-check-o fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="card text-white bg-info mb-3">
    <div class="card-body">
      <div class="d-md-flex justify-content-between">
        <div class="ml-3">
          <div class="row">
            <h4>Total Reward</h4>
          </div>
          <div class="row">
            <h4><%= humanized_money_with_symbol @user.reward_income %></h4>
          </div>
        </div>
        <div>
          <i class="fa fa-handshake-o fa-4x"></i>
        </div>
      </div>
    </div>
  </div>
</div>
