<tr>
  <td><%= f.object.name %></td>
  <td><%= @order.quantity(f.object).count %></td>
  <td>
    <%= f.select :shipping_methods, options_for_select(
                  f.object.shipping_methods.collect { |m| [m.name, m.id] }),
                  {}, class: 'form-control' %>
  </td>
</tr>
