<%= provide :title, 'Dashboard' %>

<div class="container-fluid">
  <%= render 'admin/dashboard/index/snapshot' %>
  <h3 class="mb-3 mt-5">Orders</h3>
  <%= render 'admin/dashboard/index/orders' %>
</div>
