<td>
  <%= link_to "",
              id: "",
              class: "btn btn-sm btn-info" do %>
    <i class="fa fa-plus" aria-hidden="true"></i> Add Inventory
  <% end %>
</td>
<td>
  <%= link_to "",
              id: "",
              class: "btn btn-sm btn-warning" do %>
    <i class="fa fa-edit" aria-hidden="true"></i> Modify Inventory
  <% end %>
</td>
