<%= provide :title, 'Customer Detail' %>

<div class="d-flex justify-content-start mb-3">
  <div>
    <%= link_to admin_customers_path, class: 'btn btn-secondary' do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Return to List
    <% end %>
  </div>
</div>

<div class="row">
  <%= render 'admin/customers/show/basic' %>
  <%= render 'admin/customers/show/wallet' %>
</div>
