<% if object.errors.any? %>
  <div id="error_messages">
    <div class="alert alert-danger">
      <h5 class="alert-heading">
        This form contains <%= pluralize(object.errors.count, "error") %>.
      </h5>
    <ul class="mb-0">
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    </div>
  </div>
<% end %>
