<div class="mt-5">
  <footer class="text-muted">
    <div class="container">
      <p class="float-left">
        Copyright © <%= Time.now.year %> Flex Commerce
      </p>
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
    </div>
  </footer>
</div>
