<div class="row">
  <% feature_products.each do |product| %>
    <% cache product do %>
      <div class="col-md-4 mb-3">
        <%= render 'shared/product_card', product: product %>
      </div>
    <% end %>
  <% end %>
</div>
