<div class="container">
  Breadcrumb Placeholder
</div>

<section class="jumbotron text-center">
  <div class="container">
  </div>
</section>

<footer class="text-muted">
  <div class="container">
    <p class="float-left">
      Copyright © <%= Time.now.year %> Flex Commerce
    </p>
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
