<%= provide :title, 'Address' %>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/address/self_pickup' if @self_pickups.present? %>
      <%= render '/orders/address/deliveries' if @deliveries.present? %>
      <input type="submit" form="address_form" />
    </div>
  </div>
</div>
