<%= provide :title, 'Payment' %>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/payment/charge_summary' %>
      <%= render '/orders/payment/shipping_summary' %>
    </div>
  </div>
</div>
