<%= provide :title, 'Select Shipping' %>

<div class="container">
  <%= render 'progress', steps: ['info']  %>
  <div class="card mt-3">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/shipping/select_form' %>
    </div>
  </div>
</div>
