<%= provide :title, 'Select Shipping' %>

<div class="container">
  <div class="card mt-5">
    <div class="card-header">
      <%= yield(:title) %>
    </div>
    <div class="card-body">
      <%= render '/orders/shipping/select_form' %>
    </div>
  </div>
</div>
