<header class="page-header row justify-center">
  <div class="col-md-6 col-lg-12" >
    <h1 class="float-left text-center text-md-left">Dashboard</h1>
  </div>

  <div class="col-md-6 col-lg-4 text-center text-md-right"></div>

  <div class="clear"></div>
</header>
