<nav class="sidebar col-xs-12 col-sm-4 col-lg-3 col-xl-2 bg-faded sidebar-style-1">
  <h1 class="site-title">Flex Commerce</h1>
  <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
    <em class="fa fa-bars"></em>
  </a>
  <ul class="nav nav-pills flex-column sidebar-nav">
    <li class="nav-item">
      <%= link_to admin_dashboard_index_path,
                  class: "nav-link #{active_controller?('dashboard')}" do %>
        <em class="fa fa-dashboard"></em> Dashboard
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to admin_categories_path,
                  class: "nav-link #{active_controller?('categories')}" do %>
       <em class="fa fa-list-ul"></em> Categories</a>
      <% end %>
    </li>
  </ul>
  <%= link_to root_url, class: 'logout-button hidden-xs-down' do %>
    <em class="fa fa-arrow-left"></em> Front Page</a>
  <% end %>
</nav>
