<%= provide :title, t('.title') %>

<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/navigation/customer/sidenav' %>
    </div>
    <div class="col-9">
      <%= render 'wallets/show_transfer_ins/content' %>
    </div>
  </div>
</div>
