<td>
  <%= link_to 'Detail', admin_reward_method_path(reward_method),
                        class: 'btn btn-info btn-sm' %>
</td>
<td>
  <%= link_to 'Edit', edit_admin_reward_method_path(reward_method),
                      class: 'btn btn-warning btn-sm' %>
</td>
<td>
  <%= link_to 'Delete', '#', class: 'btn btn-danger btn-sm' %>
</td>
