<li class="nav-item dropdown">
  <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
     aria-haspopup="true" aria-expanded="false">
    Brands
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <% Category.brand.order(display_order: :asc).each do |brand| %>
      <% cache brand do %>
        <%= link_to brand.name, category_path(brand), class: 'dropdown-item' %>
      <% end %>
    <% end %>
  </div>
</li>

<% Category.top_level.order(display_order: :asc).each do |menu_item| %>
  <% cache menu_item do %>
    <li class="nav-item">
      <% if menu_item.child_categories.empty? %>
        <%= link_to menu_item.name, category_path(menu_item), class: 'nav-link' %>
      <% else %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownMenuLink"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= menu_item.name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% menu_item.child_categories.order(display_order: :asc).each do |menu_child| %>
              <% cache menu_child do %>
                <%= link_to menu_child.name, category_path(menu_child),
                                             class: 'dropdown-item' %>
              <% end %>
            <% end %>
          </div>
        </li>
      <% end %>
    </li>
  <% end %>
<% end %>
