<li class="nav-item">
    <%= link_to cart_path, class: 'nav-link' do %>
      <i class="fa fa-shopping-cart fa-lg mr-1" aria-hidden="true"></i>
      <span class="ml-1 badge badge-pill badge-light">
        <% if (current_user && current_user.cart) || session[:cart_id] %>
          <%= current_cart.inventories.count %> C
        <% else %>
          0
        <% end %>
      </span>
    <% end %>
</li>
