<%= provide :title, 'Address' %>

<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <%= render 'shared/navigation/customer/sidenav' %>
    </div>
    <div class="col-9">

      <div class="card">
        <div class="card-header">
          New Address
        </div>
        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>