<td><%= cat.display_order %></td>
<td>
  <%= link_to move_admin_category_path(cat, position: -1), method: :patch,
              class: 'arrow-control' do %>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  <% end %>
</td>
<td>
  <%= link_to move_admin_category_path(cat, position: 1), method: :patch,
              class: 'arrow-control' do %>
    <i class="fa fa-arrow-down" aria-hidden="true"></i>
  <% end %>
</td>
