<table class="table table-hover mt-3">
  <thead>
    <tr>
      <th class="w-50">ID</th>
      <th>Status</th>
      <th>In Order</th>
      <th>Customer</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if inventories.present? %>
      <% inventories.each do |inventory| %>
      <tr>
        <td><%= link_to inventory.id, '#' %></td>
        <td><%= inventory.status.titleize %></td>
        <td></td>
        <td></td>
        <td>
          <%= render 'admin/inventories/action_delete', inventory: inventory %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="6" class="text-center">
          No Matching Inventories
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
