<div class="col">
  <div class="jumbotron">
    <h4>Shipment</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Shipping Company</th>
          <th>Tracking Number</th>
          <th>Pickup Time</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
