<div class="card">
  <div class="card-header">
    Wallet
  </div>
  <div class="card-body">
    <%= render 'wallets/show/snapshot' %>
    <%= render 'wallets/show/action_control' %>
    <h5 class="mt-5">Recent Transactions</h5>
    <%= render 'shared/no_record' if @transactions.empty? %>
    <% @transactions.each do |transaction| %>
      <%= render 'wallets/shared/transaction', transaction: transaction %>
    <% end %>
  </div>
</div>
