<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Account
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="#">User Center</a>
    <a class="dropdown-item" href="#">Orders</a>
    <a class="dropdown-item" href="#">Financials</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Sign Out</a>
  </div>
</li>
