<div class="card">
  <div class="card-body">
    <h4 class="card-title">Search</h4>
    <div class="input-group">
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go</button>
      </span>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">Sort</h4>
    <select class="form-control form-control-sm">
      <option>From High to Low</option>
      <option>From Low to High</option>
      <option>Most Popular</option>
    </select>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">Brand</h4>
    <div class="ml-1">
      <li>Brand</li>
      <li>Brand</li>
      <li>Brand</li>
      <li>Brand</li>
      <li>Brand</li>
    </div>
  </div>
</div>
