<%= render 'search_card' %>

<div class="card mt-3">
  <div class="card-body">
    <h4 class="card-title">Sort</h4>
    <select class="form-control form-control-sm">
      <option>From High to Low</option>
      <option>From Low to High</option>
      <option>Most Popular</option>
    </select>
  </div>
</div>

<%= render 'refine_categories' %>
