<%= provide :title, @category.name %>
<%= render 'shared/header_breadcrumb', title: yield(:title) %>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3">
      <%= render 'side' %>
    </div>
    <div class="col-lg-9">
      <%= render 'grid' %>
    </div>
  </div>

</div>
