<div class="col-md-6">
  <div class="jumbotron">
    <h5><%= t('.navigation') %></h5>
    <div class="pl-5 pr-5 mt-5 mb-3">
      <%= link_to t('.view_order'), @order, class: 'btn btn-success btn-block' %>
    </div>
    <div class="pl-5 pr-5 mb-3">
      <%= link_to t('.dashboard'), dashboard_path,
                                     class: 'btn btn-primary btn-block' %>
    </div>
    <div class="pl-5 pr-5 mb-3">
      <%= link_to t('.frontpage'), root_url, class: 'btn btn-info btn-block' %>
    </div>
  </div>
</div>
