<div class="container-fluid" id="wrapper">
  <div class="row">
    <%= render 'shared/navigation/admin/sidebar' %>
    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
      <%= render 'shared/navigation/admin/header' %>
      <%= render 'shared/flash' unless flash.empty? %>
      <%= yield %>
    </main>
  </div>
</div>
